/* Acá nos damos cuenta que la sintaxis que estamos usando es: PARA TODOS LOS ELEMENTOS a
QUE ESTÉN DENTRO DEL BODY, entonces se aplica, pero podemos minimizar hasta la etiqueta padre
más próxima del elemento que estemos interesados de aplicar las reglas de estilo, en este caso
sería la etiqueta <ul>  */
/* 
body a {
    display: block;
} */

/* ul a {
    display: block;
} */

/* Muchas reglas de estilo como width o height sólo se aplican a elementos de bloque,
sería bueno revisar esta información */

/* Cuando utilicemos algúnas propiedades como padding, un elemento de html incrementará
sus dimensiones, por lo cual para evitar ello debemos utilizar la herramienta box-sizing:border-box,
es de valor mencionar que margin no agrega dimensiones al tamaño del elemento */

* {
    box-sizing: border-box;
}

/* Démonos cuenta que el body trae un margen por defecto y debemos aplicar el margin cero si es que
queremos que este ocupe todo el viweport, también nos damos cuenta que si aplicamos un border como
indicador, el contenedor donde estemos trabajando reduce su dimensión debido a que tenemos el
content box sizing en border box*/

body {
    margin: 0;
    width: 100 vw;
}

div {
    width: 90vw;
    padding: 5%;
    margin: auto;
    background-color: aqua;
}

/* Acá podemos ver cómo las reglas de estilo no son pisadas por la regla de título DIV,
creo que debido a que las etiquetas de clase deben de pesar más en prioridad, sino no entiendo
por qué no son pisadas */
.texto {
    background-color: blue;
}

.container1 {
    background-color: salmon;
}

.container2 {
    background-color: green;
}

.oculto {
    display: none;
}

div {
    background-color: aqua;
}

/* 
@media(min-width:360px) {
    div {
        background-color: yellow;
    }

    .container1,
    .container2 {
        background-color: yellow;
    }
}

@media(min-width:760px) {

    .container1,
    .container2 {
        background-color: green;
    }
}

@media(min-width:1000px) {

    .container1,
    .container2 {
        background-color: yellow;
    }

    .oculto {
        display: block;
    }
} */