<!DOCTYPE html> <!-- Lo que hace es decir que estamos utilizando la última versión -->
<html lang="en">
<!-- indica al navegador que todo lo que está dentro es contenido html -->

<head>
    <!-- contiene todas las características informativas referentes al documento -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Se le pone una etiqueta para que el diseño se adapte al viewport, es decir que el ancho del documento html sea igual al ancho del dispositivo en donde se renderice -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en html</title><!-- Genera el título que se ve en la pestaña del navegador -->
    <!--Se pone la etiqueta link dentro del head, esta es la hoja de estilos-->
    <link rel="stylesheet" href="/CSS/style.css">

    <!--Se vinvula el normalize al último para que no pise algún estilo particular anterior a este, no es obligado pero si es muy recomendado-->
    <link rel="stylesheet" href="/CSS/normalize.css">
</head>

<body>
    <div class='contenedor01'>
        <h2>Soy el contenedor01</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos provident facilis iusto nobis nihil
            neque. Culpa neque dicta eligendi laudantium eum fuga voluptates, quasi doloremque atque iusto veritatis
            voluptate nisi?</p>
    </div>

    <div class='contenedor02'>
        <h2>Soy el contenedor02</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos provident facilis iusto nobis nihil
            neque. Culpa neque dicta eligendi laudantium eum fuga voluptates, quasi doloremque atque iusto veritatis
            voluptate nisi?</p>
    </div>


















    <!-- <p class='oculto'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum veniam neque illum? Mollitia
        dignissimos velit recusandae quod perspiciatis laboriosam impedit, accusamus nisi. Aspernatur repellendus cumque
        asperiores omnis, dolores doloribus minus.</p>
    <article class="contenedor01">

        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, quod. Minus
            laborum facilis ad quisquam
            provident possimus excepturi consequuntur eligendi illo dolore! Vitae soluta reiciendis earum dignissimos
            velit eos ducimus!</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis officiis reiciendis molestias, magnam,
            dignissimos ullam quis hic ipsum accusantium vero labore praesentium delectus veritatis perferendis! Ab
            tempore nihil illum reprehenderit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptas eius sit cupiditate placeat maxime
            alias, eligendi provident dolor laboriosam voluptatum, quod assumenda aliquid nam nemo corrupti fugit est
            aut.</p>
    </article> -->


    <!-- <article class="contenedor02">

        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, quod. Minus
            laborum facilis ad quisquam
            provident possimus excepturi consequuntur eligendi illo dolore! Vitae soluta reiciendis earum dignissimos
            velit eos ducimus!</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis officiis reiciendis molestias, magnam,
            dignissimos ullam quis hic ipsum accusantium vero labore praesentium delectus veritatis perferendis! Ab
            tempore nihil illum reprehenderit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptas eius sit cupiditate placeat maxime
            alias, eligendi provident dolor laboriosam voluptatum, quod assumenda aliquid nam nemo corrupti fugit est
            aut.</p>
    </article> -->
</body>

</html>