<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Con esta etiqueta definimos la escala, es decir; que se tome a toda la parte
    visible del navegador como la dimensión del viewport -->
    <link rel="stylesheet" href="/CSS/stylepruebas.css">
    <!-- El elemento HTML <link> especifica la relación entre el documento actual y un recurso externo. 
    Los usos posibles de este elemento incluyen la definición de un marco relacional para navegación.
    Este elemento es más frecuentemente usado para enlazar hojas de estilos -->
    <title>Pruebas</title>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!--Podemos también hacer un link para las fuentes, sin embargo, lo más recomendable es que todos
    los recursos estátitcos estén almacenados en el servidor, ya que si usamos fuentes de google por
    ejemplo y un día se cae google, la página dejará de funcionar, las página mas usada es google font-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- Podemos usar íconos y figuras de estilo vectorial, por lo cual necesitamos este link para usarlas
    desde fontawesome-->
    <!-- <link rel="stylesheet" href="./fontawesome-free-6.1.1-web/css/all.min.css"> -->
    <!-- En este caso hemos descargado el paquete fontawesome y cargado esto en el servidor, por lo que
    linkeamos de la manera anterior para tener los elementos correspondientes, este es una gran ventaj ya que
    no vamos a depender del servidor fontawesome para que nos funcionen los íconos. Además en la carpeta css.all
    podemos revisar los estilos de cada uno de los íconos y como es lenguaje css, podemos moificarlos
    CHECAR ESTO QUE NO ME FUNCIONÓ-->
</head>

<body>
    <i class="fab fa-facebook"></i>
    <article class="oculto">
        <ul>
            <a class="lista" href="#">Hola mundo1</a>
            <a class="lista" href="#">Hola mundo2</a>
            <a class="lista" href="#">Hola mundo 3</a>
            <a class="lista" href="#">Hola mundo 3</a>
            <a class="lista" href="#">Hola mundo 3</a>
        </ul>
    </article>
    <div class="texto">
        <h1>Hola soy un div</h1>
    </div>
    <!-- <article> -->
    <div class="container1">
        <i class="fa-brands fa-facebook"></i>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, laboriosam voluptatum corporis
            adipisci mollitia facilis, odio velit, saepe ipsum ut magni sunt repellat expedita? Soluta mollitia
            repellendus eveniet rerum facere.</p>
    </div>
    <!-- </article> -->

    <!-- <article> -->
    <div class="container2">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste dolore cum fugit facilis repellendus?
            Deserunt porro magni voluptatum, consequuntur, at est tempore modi quidem sit neque consequatur
            eveniet assumenda ipsam.</p>
    </div>
    <!-- </article> -->

    <!-- <a href="#">Hola mundo 3</a>
        <a href="#">Hola mundo 4</a>} -->


</body>

</html>