<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/stylepruebas.css">
    <title>Pruebas</title>
</head>

<body>
    <section>
        <article>
            <ul>
                <a class="lista" href="#">Hola mundo1</a>
                <a class="lista" href="#">Hola mundo2</a>
                <a class="lista" href="#">Hola mundo 3</a>
                <a class="lista" href="#">Hola mundo 3</a>
                <a class="lista" href="#">Hola mundo 3</a>
            </ul>
        </article>
        <a href="#">Hola mundo 3</a>
        <a href="#">Hola mundo 4</a>
    </section>
</body>

</html>