<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/stylepruebas.css">
    <title>Pruebas</title>
</head>

<body>

    <article class="oculto">
        <ul>
            <a class="lista" href="#">Hola mundo1</a>
            <a class="lista" href="#">Hola mundo2</a>
            <a class="lista" href="#">Hola mundo 3</a>
            <a class="lista" href="#">Hola mundo 3</a>
            <a class="lista" href="#">Hola mundo 3</a>
        </ul>
    </article>
    <div class="texto">
        <h1>Hola soy un div</h1>
    </div>
    <!-- <article> -->
    <div class="container1">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, laboriosam voluptatum corporis
            adipisci mollitia facilis, odio velit, saepe ipsum ut magni sunt repellat expedita? Soluta mollitia
            repellendus eveniet rerum facere.</p>
    </div>
    <!-- </article> -->

    <!-- <article> -->
    <div class="container2">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste dolore cum fugit facilis repellendus?
            Deserunt porro magni voluptatum, consequuntur, at est tempore modi quidem sit neque consequatur
            eveniet assumenda ipsam.</p>
    </div>
    <!-- </article> -->

    <!-- <a href="#">Hola mundo 3</a>
        <a href="#">Hola mundo 4</a>} -->


</body>

</html>