<!DOCTYPE html> <!-- Lo que hace es decir que estamos utilizando la última versión -->
<html lang="en">
<!-- indica al navegador que todo lo que está dentro es contenido html -->

<head>
    <!-- contiene todas las características informativas referentes al documento -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en html</title><!-- Genera el título que se ve en la pestaña del navegador -->
</head>

<body>
    <!-- Contiene todo lo que se muestra en el navegador -->
    <h4>Soy un h4</h4>

    <h1>El título de nuestro documento</h1>

    <h2>Un subtítulo cualquiera</h2>

    <img src="/img/baby-yoda.jpg" alt="">
    <!--Ya estamos en la carpeta public, en el app.js se definió-->

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A magnam assumenda aspernatur sunt totam non, pariatur
        animi laudantium iste nihil ut atque praesentium fugit sit quam quasi voluptatem autem necessitatibus!</p>

    <ol></ol>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>

    <ul></ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>

    <a href="https://www.google.com">Ir Google</a>



</body>

</html>