<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
    <!-- Ac치 a침adimos un archivo parcial con el header, el cual se repetir치 en toda la p치gina -->
    <%- include('partials/header.ejs')%>

        <h1>Este es el index</h1>
</body>

</html>