<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <!-- Acá añadimos un archivo parcial con el header, el cual se repetirá en toda la página -->
    <%- include('partials/header.ejs')%>
        <p>Hobbies</p>

        <!-- <input class="par" type="text" name="hobbies">
    <input class="impar" type="text" name="hobbies">
    <input class="par" type="text" name="hobbies">
    <input class="impar" type="text" name="hobbies"> -->


        <!-- Si queremos N inputs podemos usar un for y no copiar y pegar 1 a 1 con etiquetas especiales-->
        <!-- Nótese cómo también usamos un if con sus etiquetas especiales para colocar clases -->
        <% for (let i=0 ; i< 10 ; i++) { %>
            <!-- Con etiqueta ponemos el i+1 para que imprima el número del hobbie correspondiente -->
            <label for=> Hobbie <%=i+1%> </label>

            <%if (i%2==0) %>
                <input class=par type="text" name="Hobbies" id="">
                <% }%>


</body>

</html>