<!DOCTYPE html> <!-- Lo que hace es decir que estamos utilizando la última versión -->
<html lang="en">
<!-- indica al navegador que todo lo que está dentro es contenido html -->

<head>
    <!-- contiene todas las características informativas referentes al documento -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en html</title><!-- Genera el título que se ve en la pestaña del navegador -->
    <!--Se pone la etiqueta link dentro del head, esta es la hoja de estilos-->
    <link rel="stylesheet" href="/CSS/styles.css">
    <!-- Siempre se debe poner el atributo rel con stylesheet -->

    <!--Se vinvula el normalize al último para que no pise algún estilo particular anterior a este, no es obligado pero si es muy recomendado-->
    <link rel="stylesheet" href="/CSS/normalize.css">
</head>

<body>
    <!-- Contiene todo lo que se muestra en el navegador -->
    <h4>Soy un h4</h4>

    <h1 class="titulo-en-grande">El título de nuestro documento</h1>

    <h2>Un subtítulo cualquiera</h2>

    <img src="/img/baby-yoda.jpg" width='30%' alt="">
    <!--Ya estamos en la carpeta public, en el app.js se definió-->

    <!--Escribimos el selector de clase-->,
    <!-- La etiqueta strong remarca una aprte importante de un texto -->
    <p class='parrafo-destacado'>Este es Baby yoda,<strong>Esto es un texto en verde</strong> que bonito está no? da
        ganas de tocar sus cachetitos, Lorem ipsum
        dolor sit, amet consectetur adipisicing elit. Fugiat, laborum? Possimus architecto excepturi, ea voluptatem
        voluptatibus ad commodi modi nostrum? Voluptas non repellat vel assumenda necessitatibus. Dicta ex iusto ipsam.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore distinctio exercitationem nulla itaque voluptates
        delectus voluptatibus cupiditate perferendis, unde inventore, quasi, natus ratione atque sint enim alias quia.
        Voluptas, obcaecati!</p>

    <p></p>
    <ol></ol>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>

    <ul></ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>

    <a href="https://www.google.com">Ir Google</a>



</body>

</html>