<!DOCTYPE html>
<!-- <!DOCTYPE> informa al navegador que versión de HTML (o XML) se usó para escribir el documento. Doctype es una declaración no una etiqueta. -->

<html lang="en">
<!-- El atributo global lang participa en la definición del lenguaje del elemento , el lenguaje en que están escritos los elementos no editables
    o el lenguaje en el cual los elementos editables deberían de estar escritos  -->

<head>
    <meta charset="UTF-8">
    <!-- El elemento meta con atributo charset en un documento HTML está el destinado a indicar la codificación de caracteres utilizada (charset) -->
    <!-- Por ejemplo, si se utiliza la codificación UTF-8 (estándar en HTML5 reconocido por la RFC 3629 de la Internet Engineering Task Force (IETF) y 
        una de las tres posibilidades de codificación reconocidas por Unicode): -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Como definición rápida, diremos que viewport podría traducirse como vista o ventana y nos sirve para definir qué área de pantalla
        está disponible al renderizar un documento, nivel de escalado y el zoom que debe mostrar inicialmente. Todo ello, con parámetros que le damos a la propia etiqueta META. -->
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/style2.css">
</head>

<body>
    <header class="header">
        <nav>
            <ul>
                <li><a href="#">Header1</a></li>
                <li><a href="#">Header2</a></li>
                <li><a href="#">Header3</a></li>
            </ul>
        </nav>
    </header>

    <div>
        </p>span</p>
    </div>
    <span></p>span</p></span>

    <section>
        <article class="p1">
            <p class=>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptatum fuga consequuntur iusto
                in,
                nulla
                repudiandae libero, a eius aperiam iure culpa! Corrupti eum aut esse maiores commodi obcaecati.
                Adipisci.</p>
        </article>

        <article>
            <p class="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui corporis voluptatibus aut et
                consectetur
                exercitationem in quo quam quos odit velit, culpa pariatur tempora dicta rerum debitis. Nostrum, et
                nobis?
            </p>
        </article>

        <article>
            <ol>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ol>
        </article>

        <article>
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </article>
    </section>

    <footer>

    </footer>
</body>

</html>