<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <img src="/img/logo-mercado-liebre.svg">
        <p>Lugar para poner barra de búsqueda</p>
        <p>Compra en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Crear tu cuenta</a></li>
                <li><a href="">Ingresar</a> </a></li>
                <li><a href="">Mis compras</a></li>
            </ul>

        </nav>
    </header>
    <main>
        <section>

            <h3>Basado en tu última visita ;)</h3>

            <article><img src="/img/img-cafetera-moulinex.jpg" width='50%'></article>
            <p>$6.770</p>
            <p>-40% off</p>

            <article><img src="/img/img-home-banner.jpg" width='50%' alt=""></article>
            <p>$6.770</p>
            <p>-40% off</p>

            <article><img src="/img/img-macbook-pro-2019.jpg" width='50%' alt=""></article>
            <p>$6.770</p>
            <p>-40% off</p>

            <article><img src="/img/img-samsung-galaxy-s10.jpg" width='50%' alt=""></article>
            <p>$6.770</p>
            <p>-40% off</p>

            <article><img src="/img/img-tv-samsung-smart.jpg" width='50%' alt=""></article>
            <p>$6.770</p>
            <p>-40% off</p>

        </section>
    </main>
</body>

</html>