<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
    <header class='main-header'>
        <div class='main-header-top-bar'>
            <img src="/img/logo-mercado-liebre.svg" class='logo'>
            <h2 class='copy-header'>
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a href="#" class='hamburger-button'><i class="fas fa-bars"></i></a>
        <nav class='main-header-bottom-bar'>
            <ul class='left-navbar'>
                <li><a href="#"></a>Ofertas</li>
                <li><a href="#"></a>Tiendas oficiales</li>
                <li><a href="#"></a>Vender</li>
                <li><a href="#"></a>Ayuda</li>
            </ul>
            <ul class='right-navbar'>
                <li><a href="#">Creá tu cuenta</a><i class="fas fa-credit-card"></i></li>
                <li><a href="#">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

    </header>

    <!-- Acá comienza el formulario -->

    <!-- Existen atributos que pueden ser metidos en cualquier etiqueta como:
    name= permite identificar a cada campo como un elemento en particular para diferenciarlo de los otros input
    value se implementa en aquellos campos que no permiten que se metan datos como los options
    required= se utiliza en cualquier campo que requiera la inserción de texto y hará
    que sea obligatorio meter texto -->

    <form action="/crear-producto" method="POST" class='formulario'>
        <!-- action sirve para decir en dónde será procesada la información que se agregó
        y method, el método HTTP a utilizar para enviar los datos -->
        <div>
            <!-- Texto que acompaña a cada producto -->
            <label for="">Nombre del producto</label>
            <!-- Label implementa un texto que acompañe a cada campo del formulario, describe lo que esperamos que el usuario agregue -->
            <!-- El atributo name le da nombre a cada input y el backend pueda interpretarlo, no se visualiza, solo sirve para el backend -->
            <input type="text" name="Nombre" class="control">
            <!-- input es multifunción, con type le decimos qué tipo de información va a recibir -->
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <!-- textarea genera el tradicional campo de comentarios -->
            <select name="" id="">
                <!-- Select genera una caja que contiene las opciones a mostrar, gracias a la etiqueta options -->
                <option value="">a</option>
                <option value="">b</option>
                <option value="">c</option>
            </select>

        </div>
        <div>
            <!-- Texto que acompaña a cada producto -->
            <label for="">Precio del producto</label>
            <!-- Con placeholder se escribe sobre la barra donde el cliente escribe -->
            <input type="text" name="Precio" placeholder="Coloque el precio" class="control">
        </div>
        <div>
            <label for="">Descripcion</label>
            <textarea name="descripcion"></textarea>
        </div>
        <div>
            <!-- Texto que acompaña a cada producto -->
            <label for="">Está en oferta</label>
            <input type="radio" name="enOferta" class="control">
        </div>
        <div>
            <label for="">Categoria</label>
            <!-- La lista desplegable se hace con select y agrupamos opciones -->
            <select name="Categoria" class="control">
                <!-- El atributo value sirve para refereciar al backend El value se envia al backend, el option se envia al visitante -->
                <option value="Hogar">Hogar</option>
                <option value="Electro">Electro</option>
                <option value="Indumentaria">Indumentaria</option>
            </select>
            <div>
                <!-- Se envia submit a donde le diga el action -->
                <button type="submit">Guardar</button>
                <!-- El button permite hacer un botón con 2 atributos nada más -->
                <button type="reset">Reset</button>

                <!-- la principal (¿única?) diferencia entre <button type="submit"> e <input type="submit"> es el tipo de
                    contenido que se puede presentar con cada uno de ellos. El primero puede contener elementos HTML
                    (p.e.: texto + imágenes) mientras que el segundo sólo puede contener texto: -->

                <label for="">
                    <input type="radio" name="" id=""> TEXTO
                    <!-- un input de tipo radio permite crear un botón circular para seleccionar, para que se vea chido,
                hay que usar un label y agregar la información necesaria como se ve en este ejemplo. Así como está anidado
                en cualquier parte que se haga clic del texto, el botón se seleccionará -->
                </label>

                <label for="">
                    <input type="radio" name="x" id="" value="TEXTO1"> TEXTO1</label>

                <label for="">
                    <input type="radio" name="x" id="" value="TEXTO2"> TEXTO2</label>

                <label for="">
                    <input type="radio" name="x" id="" value="TEXTO3"> TEXTO3</label>

                <!-- SÓLO SE SELECCIONARÁ UNA OPCIÓN CUANDO UTILICEMOS EL ATRIBUTO name CON EL MISMO NOMBRE,
                ASÍ EL NAVEGADOR SABRÁ QUE SE TRATA SÓLO DE UN CAMPO -->

                <label for=""><input type="checkbox" name="pasatiempos" id="" value="Pasatiempo1">Pasatiempo1
                </label>
                <label for=""><input type="checkbox" name="pasatiempos" id="" value="Pasatiempo2">Pasatiempo2
                </label>
                <label for=""><input type="checkbox" name="pasatiempos" id="" value="Pasatiempo3">Pasatiempo3
                </label>

                <!-- Con este atributo checkbox podemos crear un pequeño formulario de opción múltiple,
                utilizando el mismo name, el navegador interpretará esto sabiendo que se trata de un sólo campo
                y al enviarse esta información, todas las opciones sean parte de un mismo response -->

                <!-- El atributo value es muy importante, ya que es lo que el backend recibirá -->

                <!-- FORMULARIOS AVANZADOS -->

                <input type="date" name="fechaDeNacimiento" value="2022-08-08">
                <!-- Desplegará un calendario con la fecha del value -->
                <input type="file" name="fotoDePerfil" multiple accept=".jpg,.png">
                <!-- Genera un botón de explorar para elegir algún archivo -->
                <span class="feedback"></span>
                <!-- será la encargada de recibir el texto resultante de la validación de datos -->

    </form>
</body>

</html>